/*!
global > color
------------------------------
*/
:root {
  --color-black: #707070;
  --color-white: #ffffff;
  --color-gray: #bcbbbb;
  --color-blue: #75bbee;
}

/*!
global > content-width
------------------------------
*/
:root {
  --width-content: 1080px;
  --width-content-s: 800px;
}

/*!
global > font
------------------------------
*/
:root {
  --font-family-base: "Yu Gothic UI", "Yu Gothic", sans-serif;
}

/*!
global > z-index
------------------------------
*/
:root {
  --z-index-default: 1;
}

/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

textarea {
  resize: vertical;
  display: block;
}

select {
  cursor: pointer;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: inherit;
}

tbody {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  width: 100%;
  height: auto;
  display: block;
}

dialog {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  color: inherit;
  border: none;
}

iframe {
  vertical-align: bottom;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
body {
  line-height: 1.75;
  font-size: 14px;
  color: var(--color-black);
  font-family: var(--font-family-base);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/*!
utility
------------------------------
*/
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

.u-pt {
  padding-top: 90px;
}

@media (min-width: 768px) {
  .u-pt {
    padding-top: 100px;
  }
}

.u-mt {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .u-mt {
    margin-top: 68px;
  }
}

/*!
component > title
------------------------------
*/
.c-title-level1 {
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 8px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .c-title-level1 {
    font-size: 40px;
  }
}

.c-title-level2 {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  color: var(--color-gray);
  display: block;
}

@media screen and (min-width: 768px) {
  .c-title-level2 {
    font-size: 18px;
  }
}

/*!
component > work
------------------------------
*/

.c-works-border {
  margin-top: 60px;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 6px 0px #ccc;
  box-shadow: 1px 1px 6px 0px #ccc;
  box-shadow: 1px 1px 6px 0px #ccc;
  box-shadow: 1px 1px 6px 0px #ccc;
  margin: 50px 5px 50px 5px;
  padding: 30px 20px 20px 20px;
  position: relative;
}

.c-works-border:nth-child(2)::after {
  background-color: var(--color-blue);
  border-left: 2px dotted rgba(255, 255, 255, 0.9);
  border-right: 2px dotted rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  content: "New";
  display: block;
  padding: 5px 20px;
  color: var(--color-white);
  position: absolute;
  top: -20px;
  left: 10px;
  font-size: 20px;
}

.c-works-border:nth-child(1)::after {
  background-color: var(--color-blue);
  border-left: 2px dotted rgba(255, 255, 255, 0.9);
  border-right: 2px dotted rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  content: "大学時代の制作物";
  display: block;
  padding: 5px 20px;
  color: var(--color-white);
  position: absolute;
  top: -20px;
  left: 10px;
  font-size: 20px;
}

/*!
layout > container
------------------------------
*/

.l-container {
  width: min(90%, var(--width-content));
  margin-inline: auto;
}

.l-container-s {
  width: min(90%, var(--width-content-s));
  margin-inline: auto;
}

/*!
layout > header
------------------------------
*/
@media (min-width: 500px) {
  .l-header {
    width: min(90%, var(--width-content));
    margin-inline: auto;
  }
}

/*!
layout > footer
------------------------------
*/
.l-footer-text {
  font-size: 12px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

/*!
page > News
------------------------------
*/
.news {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.news-item {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid var(--color-blue);
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .news-item {
    gap: 100px;
  }
}

.news-date {
  color: var(--color-gray);
  font-weight: bold;
}

/*!
page > Works
------------------------------
*/

.works-new {
  display: grid;
  grid-template-rows: 1fr;
  gap: 30px;
}

@media (min-width: 768px) {
  .works-new {
    grid-template-columns: repeat(2, 1fr);
  }
}

.work-new-image {
  object-fit: cover;
  aspect-ratio: 800 / 400;
}

@media (any-hover: hover) {
  .work-new-image:hover {
    opacity: 0.7;
  }
}

.work-new-about {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px 20px;
  margin-top: 24px;
}

.work-new-about-term {
  font-weight: bold;
  color: var(--color-gray);
}

.work-past-box {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
}

@media (min-width: 768px) {
  .work-past-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

.work-new-text {
  margin-top: 10px;
}

.work-new-text-link {
  color: revert;
  text-decoration: revert;
}

.work-past-image {
  object-fit: cover;
  aspect-ratio: 370 / 200;
}

.work-past-button a {
  letter-spacing: 0.1em;
  display: block;
  position: relative;
  max-width: 180px;
  text-align: center;
  padding: 4px 16px 4px 0;
  margin: 24px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.work-past-button a::before {
  content: "";
  display: block;
  position: absolute;
  width: 180px;
  height: 1px;
  background: var(--color-black);
  bottom: 0;
  transition: all 0.3s;
}

.work-past-button a::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 1px;
  background: var(--color-black);
  rotate: 40deg;
  right: -3px;
  bottom: 10px;
  transition: all 0.3s;
}

.work-past-button a:hover::after,
.work-past-button a:hover::before {
  translate: 20px 0;
  transition: all 0.3s;
}
