@charset "utf-8";
/* CSS Document */

/* 共通*/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
  	margin: 0;
  	font-family:YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
  	font-size: 16px;
  	color: #707070;
}

h1, h2, h3, p {
	margin: 0;
  	padding: 0;
	font-weight: normal;
}

a {
  	color: #707070;
  	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.content-wrapper {
  	max-width: 1080px;
  	margin: 0 auto;
}

.title-main{
	font-size: 40px;
	text-align: center;
	margin-top: 100px;
	letter-spacing: 8px;
	line-height: 1;
}

.title-sub{
	text-align: center;
	color: #BCBBBB;
	font-size: 18px;
	letter-spacing: 1px;
}

/* header*/
header{
	position: relative;
	width: 100%;
  	height: 650px;
	background-image: url("../img/header.jpg");
	background-size: cover;
}

header h1{
	position: absolute;
  	top: 215px;
  	left: 130px;
	font-size: 60px;
    letter-spacing: 10px;
}

/* work */
.work-group-top{
	margin-top: 60px;
	padding: 60px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow:1px 1px 6px 0px #ccc;
	box-shadow:1px 1px 6px 0px #ccc;
	box-shadow:1px 1px 6px 0px #ccc;
	box-shadow:1px 1px 6px 0px #ccc;
	margin: 50px 5px 50px 5px;
	padding: 30px 20px 20px 20px;
	position: relative;
	z-index: 0;
}

.work-group-top:after{
	background-color: #75bbee;
	background-position: 0 0, 12px 12px;
	background-size: 24px 24px;
	border-left: 2px dotted rgba(255,255,255,0.9);
	border-right: 2px dotted rgba(255,255,255,0.9);
	box-shadow: 0 0 5px rgba(255,255,255,0.5);
	content: 'New';
	display: block;
	margin: 0 0 10px 0;
	padding: 5px 20px;
	color: #fff;
	text-align: center;
	position: absolute;
	top: -10px;
	left: 20px;
	font-size: 20px;
}

.work-new_about{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.work-new_box{
	margin-right: 30px;
	width: 50%
}

.work-new_about a:hover{
	opacity:0.5;
	transition:0.3s;
}

.work-new_table{
	margin: 20px 0 6px 0;
}

.work-new_table th{
	padding-right: 20px;
	width: 85px;
}

.work-new_text{
	font-size: 14px;
}

.work-new_text a{
	text-decoration: underline;
}

.work-new_text a:hover{
	color:#707070d1;
}


.work-group-bottom{
	margin-top: 60px;
	padding: 60px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow:1px 1px 6px 0px #ccc;
	box-shadow:1px 1px 6px 0px #ccc;
	box-shadow:1px 1px 6px 0px #ccc;
	box-shadow:1px 1px 6px 0px #ccc;
	margin: 20px 5px;
	padding: 30px 20px 20px 20px;
	position: relative;
	z-index: 0;
}

.work-group-bottom:after{
	background-color: #75bbee;
	background-position: 0 0, 12px 12px;
	background-size: 24px 24px;
	border-left: 2px dotted rgba(255,255,255,0.9);
	border-right: 2px dotted rgba(255,255,255,0.9);
	box-shadow: 0 0 5px rgba(255,255,255,0.5);
	content: '大学時代の制作物';
	display: block;
	margin: 0 0 10px 0;
	padding: 5px 20px;
	color: #fff;
	text-align: center;
	position: absolute;
	top: -10px;
	left: 20px;
	font-size: 20px;
}

.work-past_image{
	display: flex;
	justify-content: space-between;
	width: 32%;
	margin-top: 20px;
}

.work-past_image img{
	margin-right: 20px;
}

.work-past_button{
	padding-top: 20px;
}

.work-past_button a {
  letter-spacing: 0.1em;
  display: block;
  position: relative;
  max-width: 180px;
  text-align: center; 
  padding: 4px 16px 4px 0;
  margin: 24px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.work-past_button a::before {
  content: "";
  display: block;
  position: absolute;
  width: 180px;
  height: 1px;
  background: #333;
  bottom: 0;
  transition: all 0.3s;
}

.work-past_button a::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 1px;
  background: #333;
  rotate: 40deg;
  right: -3px;
  bottom: 10px;
  transition: all 0.3s;
}

.work-past_button a:hover::after,
.work-past_button a:hover::before {
  translate: 20px 0;
  transition: all 0.3s;
}

/* about */
.about-wrapper{
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding-top: 50px;
}

.about-image{
	margin-right: 60px;
}

.about-profile{
	background-image: url("../img/lake-biwa.jpg");
	background-size: cover;
	padding: 50px;
}

.about-name{
	font-size: 30px;
	line-height: 1;
}

.about-furigana{
	color: #707070a6;
}

.about-text{
	padding-top: 16px;
	font-size: 14px;
}

/* footer */
footer{
	margin-top: 100px;
	margin-bottom: 20px;
	font-size: 12px;
	text-align: center;
}

/*タブレット用ここから*/
@media(max-width:1000px){
	
	.content-wrapper{
		padding: 0 20px;
	}
	
	header{
		height: 480px;
	}
	
	header h1 {
    	font-size: 50px;
    	top: 158px;
    	left: 94px;
    	letter-spacing: 5px;
  	}

}

/*スマホ用ここから*/
@media(max-width:670px){
	
	/*共通*/
	body{
		font-size: 14px;
	}
	
	img{
		width: 100%;
	}
	
	.content-wrapper{
		max-width: 350px;
		padding: 0;
	}
	
	.title-main{
		font-size: 26px;
		margin-top: 50px;
		letter-spacing: 4px;
	}
	
	.title-sub{
		font-size: 12px;
	}
	
	/*header*/
	.content-wrapper_sp{
		max-width: 100%
	}
	
	header{
		height: 560px;
		background-image: url("../img/header_sp.jpg");
	}
	
	header h1 {
    	font-size: 40px;
    	top: 80px;
    	left: 48px;
    	letter-spacing: 7px;
  	}
	
	/*work*/
	.work-group-top{
		margin: 30px 5px 50px 5px;
	}
	
	.work-group-top:after{
		font-size: 16px;
	}
	
	.work-new_about{
		display: block;
		margin: 0;
	}
	
	.work-new_box{
		width: 100%;
		margin: 20px 0 0 0;
	}
	
	.work-new_text{
		font-size: 12px;
	}
	
	.work-group-bottom{
		padding: 30px 10px 20px 10px;
	}
	
	.work-group-bottom:after{
		font-size: 16px;
	}
	
	.work-past_image{
		width: 30%;
	}
	
	.work-past_button{
		padding: 0;
	}
	
	.work-past_button a{
		font-size: 14px;
		margin: 20px 0 0 auto;
		max-width: 153px;
	}
	
	.work-past_button a::before{
		width: 154px;
	}
	
	/*about*/
	.about-wrapper{
		display: block;
		padding-top: 20px;
	}
	
	.about-image{
		margin: 0 0 20px 0;
	}
	
	.about-image img{
		width: 170px;
		margin: 0 auto;
		display: block;
	}
	
	.about-profile{
		padding: 30px;
		height: 300px;
		background-image: url("../img/lake-biwa_sp.jpg");
	}
	
	.about-name{
		font-size: 24px;
	}
	
	/*footer*/
	footer{
		margin-top: 50px;
	}
}